<div class="modal-header">
  <h4 class="modal-title mb-1">Request a new campaign</h4>
  <p>Reward your best customers and encourage others to visit more often.</p>
  <!-- <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button> -->
</div>
<div class="modal-body">
  <div class="d-flex justify-content-between align-items-center content-part">
    <label for="exampleInputEmail1" class="form-label">Campaign Name</label>
    <span class="">100 characters</span>
    </div>
    <input
      type=""
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
   

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary btn-cancel">Cancel</button>
  <button type="button" class="btn btn-outline-dark btn-begin" (click)="onBegin()">Begin</button>
</div>
