<div class="container-fluid campaign-container">
  <div class="row campaign-row">
    <div class="col-md-1 p-0 leftBar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-11">
      <div class="compaign container">
        <span class="flat-text"
          >Flat White <img src="/assets/images/arrowdown.svg"
        /></span>
        <h5 class="mb-2">Campaigns</h5>
        <p>
          Campaign allows you to drive footfall and<br />
          customize your customer experience.
        </p>
        <div class="border-bottom"></div>
        <div class="compaign-filter">
          <div
            class="search d-flex justify-content-between align-items-center mb-3"
          >
            <div>
              <ul class="mb-0">
                <li>
                  <input
                    class="form-control mr-2 search-input"
                    type="search"
                    placeholder="Search compaigns"
                    aria-label="Search"
                  />
                  <img src="/assets/images/search.svg" class="serch-ico" />
                </li>
                <li>
                  <button
                    type="button"
                    class="btn btn-outline-secondary filter"
                  >
                    <img src="/assets/images/filter.svg" class="" /> Filter
                  </button>
                </li>
                <li class="export-date">
                  <img src="/assets/images/export.svg" />Export Data
                </li>
              </ul>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-primary request"
                (click)="onBegin()"
              >
                REQUEST CAMPAIGN
              </button>
            </div>
          </div>
          <div class="filter-table">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Campaigns</th>
                  <th scope="col">
                    Scheduled Date<img src="/assets/images/arrowDown.svg" />
                  </th>
                  <th scope="col">
                    Progress<img src="/assets/images/arrowDown.svg" />
                  </th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">
                    <div class="compaign-data">
                      <h6>Campaign Title 01</h6>
                      <span class="d-block">All Customers</span>
                      <span class="d-block text-sent"
                        >Sent to 1,205 customers</span
                      >
                    </div>
                  </td>

                  <td><span class="d-block">#Apr 11, 2021</span></td>
                  <td>
                    <div class="d-flex">
                      23%
                      <div class="progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          aria-valuenow="0"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                  </td>
                  <td><span class="badge bg-success">Active</span></td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn border">view</button>
                      <button
                        type="button"
                        class="btn border dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Another action</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td scope="row">
                    <div class="compaign-data">
                      <h6>Campaign Title 01</h6>
                      <span class="d-block">All Customers</span>
                      <span class="d-block text-sent"
                        >Sent to 1,205 customers</span
                      >
                    </div>
                  </td>

                  <td><span class="d-block">#Apr 11, 2021</span></td>
                  <td>
                    <div class="d-flex">
                      23%
                      <div class="progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          aria-valuenow="0"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                  </td>
                  <td><span class="badge bg-success">Active</span></td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn border">view</button>
                      <button
                        type="button"
                        class="btn border dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Another action</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td scope="row">
                    <div class="compaign-data">
                      <h6>Campaign Title 01</h6>
                      <span class="d-block">All Customers</span>
                      <span class="d-block text-sent"
                        >Sent to 1,205 customers</span
                      >
                    </div>
                  </td>

                  <td><span class="d-block">#Apr 11, 2021</span></td>
                  <td>
                    <div class="d-flex">
                      23%
                      <div class="progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          aria-valuenow="0"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                  </td>
                  <td><span class="badge bg-success">Active</span></td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn border">view</button>
                      <button
                        type="button"
                        class="btn border dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Another action</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td scope="row">
                    <div class="compaign-data">
                      <h6>Campaign Title 01</h6>
                      <span class="d-block">All Customers</span>
                      <span class="d-block text-sent"
                        >Sent to 1,205 customers</span
                      >
                    </div>
                  </td>

                  <td><span class="d-block">#Apr 11, 2021</span></td>
                  <td>
                    <div class="d-flex">
                      23%
                      <div class="progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          aria-valuenow="0"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                  </td>
                  <td><span class="badge bg-success">Active</span></td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn border">view</button>
                      <button
                        type="button"
                        class="btn border dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Another action</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
