.campaign-container
    height: 100vh
    .campaign-row
        height: 100%

        .campaign-modal
            transition: opacity 0.2s ease-in
            background: red
            .modal.in
                background: red !important
                .modal-content
                    background: #000 !important
                    .modal-header
                        background: #000 !important
                        button
                            display: none

    .compaign
        color: #241C15
        margin-top: 2rem
        h5
            font-weight: 500
            font-size: 36px
            font-family: "KansaNew Regular"
            letter-spacing: -1px
        p
            font-size: 13px
            line-height: 18px
        .flat-text
            font-family: "Lato "
            font-size: 14px
            font-weight: 600
            img
                vertical-align: top
                margin-top: 1px

    .compaign-filter
        margin-top: 2rem
        .search
            position: relative
            ul
                padding-left: 0
                li
                    list-style: none
                    display: inline-block
                    margin-right: 1rem
                    font-size: 12px
                    img
                        width: 15px
                    .serch-ico
                        position: absolute
                        top: 27%
                        left: .5%
                    .search-input
                        padding-left: 1.5rem
                        font-size: 12px
                        width: 226px
                    .filter
                        border: 1px solid#241C154D
                        font-size: 12px
                .export-date
                    color: #37559A
                    text-transform: uppercase
                    img
                        margin-right: .3rem

            .request
                background-color: #37559A
                border: 1px solid #37559A
                font-size: 11px
                font-weight: 600
                padding: .6rem 1rem
                text-transform: uppercase
        .filter-table
            table
                font-size: 12px
                thead
                    tr
                        background: #F6F6F4

                        th
                            border-bottom: 1px solid #ccc
                            border-top: 1px solid #cccccc
                tbody
                    tr
                        td
                            padding: 34px 12px 22px 10px
                            .bg-success
                                background-color: #47AC23!important
            .compaign-data
                h6
                    margin-bottom: .2rem
                    font-family: 'KansaNew Medium'
                    letter-spacing: .2px
                .text-sent
                    color: #241C15A6
                    font-size: 11px
            span
                font-weight: normal
                font-size: 13px
            .btn.border
                font-size: 12px
.campaign-modal
    .close
        display: none
.btn
    &:focus
        box-shadow: none
