<div class="container-fluid campaign-container">
  <div class="row campaign-row">
    <div class="col-md-1 p-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-11">
      <div class="compaign container">
        <span class="flat-text"
          >Flat White <img src="/assets/images/arrowdown.svg"
        /></span>
        <h5 class="mb-2">Delivery</h5>
        <p>Award stamps to customers ordering from home.</p>
        <div class="border-bottom"></div>
        <div class="compaign-filter">
          <div
            class="search d-flex justify-content-between align-items-center mb-3"
          >
            <div>
              <ul class="mb-0">
                <li>
                  <input
                    class="form-control mr-2 search-input"
                    type="search"
                    placeholder="Search compaigns"
                    aria-label="Search"
                  />
                  <img src="/assets/images/search.svg" class="serch-ico" />
                </li>
                <li>
                  <button
                    type="button"
                    class="btn btn-outline-secondary filter"
                  >
                    <img src="/assets/images/filter.svg" class="" /> Filter
                  </button>
                </li>
                <li class="export-date">
                  <img src="/assets/images/export.svg" />Export Data
                </li>
              </ul>
            </div>
            <div>
              <button class="btn btn-primary request" (click)="onBegin()">
                New batch
              </button>
            </div>
          </div>
          <div class="filter-table">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Delivery Batch</th>
                  <th scope="col">Date generated</th>
                  <th scope="col">Progress</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">
                    <div class="compaign-data">
                      <h6>Batch Title 01</h6>
                      <span class="d-block text-sent"
                        >1500 codes generated</span
                      >
                    </div>
                  </td>

                  <td><span class="d-block">Aug 12th 2021</span></td>
                  <td>87%</td>
                  <td><span class="badge bg-success">Active</span></td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn border">
                        view batch
                      </button>
                      <button
                        type="button"
                        class="btn border dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Another action</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td scope="row">
                    <div class="compaign-data">
                      <h6>Batch Title 01</h6>
                      <span class="d-block text-sent"
                        >1500 codes generated</span
                      >
                    </div>
                  </td>

                  <td><span class="d-block">Aug 12th 2021</span></td>
                  <td>87%</td>
                  <td><span class="badge bg-success">Active</span></td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn border">
                        view batch
                      </button>
                      <button
                        type="button"
                        class="btn border dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Another action</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td scope="row">
                    <div class="compaign-data">
                      <h6>Batch Title 01</h6>
                      <span class="d-block text-sent"
                        >1500 codes generated</span
                      >
                    </div>
                  </td>

                  <td><span class="d-block">Aug 12th 2021</span></td>
                  <td>87%</td>
                  <td><span class="badge bg-success">Active</span></td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn border">
                        view batch
                      </button>
                      <button
                        type="button"
                        class="btn border dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Another action</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
