.login-form
    height: 100%
    h4
        font-size: 40px
        font-family: 'KansaNew Regular'
        letter-spacing: -3px
    p
        font-size: 14px
        font-family: 'Lato Regular'
        margin-bottom: 2.4rem
    .row-div
        height: 100%
        .form-div
            width: 80%
            label
                font-weight: bold
                margin-bottom: .2rem
            .form-control
                background: #F6F6F4
                border: 1px solid #241C154D
                height: 46px
        .LoginImg
            padding-right: 4rem
            img
                width: 100%
        .login-btn
            width: 100%
            background: #37559A
            border: 1px solid #37559A
            text-transform: uppercase
            font-size: 13px
            padding-top: .6rem
        a
            color: #37559A
            font-weight: 600
            font-size: 13px
            text-decoration: none
        .pwd

            img
                width: 18px
            h6
                font-size: 12px
                color: #37559A
                margin-bottom: 0rem
.campaign-container
    height: 100vh
    .campaign-row
        height: 100%
