<div class="container-fluid campaign-container">
    <div class="row">
      
        <div class="dashboard container mt-4">
          <div class="card">
            <h4>Add Your Business Here</h4>
            <form #brandForm="ngForm" (ngSubmit)="onAdd()" novalidate>
            <div class="card-body">
              <div class="content-part">
                <label for="exampleInputEmail1" class="form-label">
                  Your Business Name/Brand Name (Legal Name)</label
                >
  
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="name"
                  [(ngModel)]="brandModel.name" required
                  aria-describedby="emailHelp"
                  placeholder="Business Name/Brand Name "
                />
               
              </div>
              <div class="content-part">
                <label for="exampleInputEmail1" class="form-label">
                  Upload Business Documents:</label
                >
                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                  "
                >
                  <input
                    class="form-control form-control-sm"
                    id="document"
                    type="file"
                   
                  name="image"
                  [(ngModel)]="brandModel.image" required
                  />
                  <button
                    class="btn btn-outline-dark btn-begin upload-btn"
                    for="document"
                    (click)="onfilechange()"
                  >
                    Browse
                  </button>
                </div>
              </div>
              <div class="btn-container">
                <button
                  type="submit"
                  class="btn btn-outline-dark btn-begin"
                >
                  ADD
                </button>
              </div>
            </div>
          </form>
          </div>
        </div>
      
    </div>
  </div>
  