.sidebar
    height: 100%
    background: #FEE417
    width: 42px
    position: fixed
    .logo
        text-align: center
        padding-top: 1rem
        margin-bottom: .5rem
        img
            width: 25px
    .icons
        flex-direction: column
        .logo
            margin-top: .5rem
            .active
                background: #37559A
                padding: 6px
                border-radius: 3px
            img
                width: 35px
            .activeimg
                width: 19px!important
                padding-bottom: .2rem

        .logo2
            margin-top: .5rem

            .active
                background: #37559A
                padding: 9px 8px 6px 9px
                border-radius: 3px
            img
                width: 40px
            .activeimg
                width: 22px!important

        .logo-promo
            text-align: center
            margin-top: .5rem

            .active
                background: #37559A
                padding: 9px 8px 6px 9px
                border-radius: 3px
                // background-image: url('../images/promotion2.svg')
                // height: 100vh

            img
                width: 25px
                margin-bottom: .6rem
            .activeimg
                width: 22px!important
                margin-top: 0

    .bottom-icons
        position: absolute
        bottom: 1%
        left: 20%
        .icons
            .logo
                text-align: center
                .logout
                    cursor: pointer
                .active
                    background: #37559A
                    padding: 3px 7px 8px 7px
                    border-radius: 50px

                img
                    width: 25px
                .activeimg
                    width: 14px!important
                .activeimground
                    width: 16px
