.sidebar
    height: 100%
    background: #FEE417
    width: 42px
    position: relative
    .logo
        text-align: center
        padding-top: 1rem
        img
            width: 25px
    .icons
        flex-direction: column
        .logo
            .active
                background: #fff
                width: 35px
            img
                width: 35px
        .logo-promo
            text-align: center
            .active
                background: #fff
                width: 25px
            img
                width: 25px
                margin-top: 1rem
    .bottom-icons
        position: absolute
        bottom: 1%
        left: 20%
        .icons
            .logo
                text-align: center
                .active
                    background: #fff
                    width: 25px
                img
                    width: 25px
