<div class="container-fluid campaign-container">
  <div class="row campaign-row">
    <div class="col-md-1 p-0 leftBar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-11">
      <div class="compaign container">
        <div class="brands-list">
          <div>
           
          </div>
          <div class="brand">
          
          </div>
        </div>
        <!-- <div ngbDropdown>
          <span ngbDropdownToggle class="flat-text">Flat White <img src="/assets/images/arrowdown.svg" /></span>
          <div ngbDropdownMenu class="p-2">
              <button *ngFor="let brand of availableBrands">{{ brand.name }}</label>
          </div>
        </div> -->
        <h5 class="mb-2">Business</h5>
        <p>
          Campaign allows you to drive footfall and<br />
          customize your customer experience.
        </p>
        <div class="border-bottom"></div>
        <div class="compaign-filter">
          <div
            class="
              search
              d-flex
              justify-content-between
              align-items-center
              mb-3
            "
          >
            <div>
              <ul class="mb-0">
                <li>
                  <input
                    class="form-control mr-2 search-input"
                    type="search"
                    placeholder="Search compaigns"
                    aria-label="Search"
                  />
                  <img src="/assets/images/search.svg" class="serch-ico" />
                </li>
                <li ngbDropdown>
                  <button
                    ngbDropdownToggle
                    type="button"
                    class="btn btn-outline-secondary filter"
                  >
                    <img src="/assets/images/filter.svg" class="" /> Filter
                  </button>
                  <div ngbDropdownMenu class="p-2">
                    <label class="mb-3 filter-header">Filter by Status</label>
                    <div class="row">
                      <div class="col-md-6">
                        <p>All</p>
                      </div>
                      <div class="col-md-6">
                        <input type="checkbox" ngbDropdownItem />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p>Active</p>
                      </div>
                      <div class="col-md-6">
                        <input type="checkbox" ngbDropdownItem />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p>Requested</p>
                      </div>
                      <div class="col-md-6">
                        <input type="checkbox" ngbDropdownItem />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p>Completed</p>
                      </div>
                      <div class="col-md-6">
                        <input type="checkbox" ngbDropdownItem />
                      </div>
                    </div>
                    <div class="dropdown-divider"></div>

                    <label class="mb-3 filter-header"
                      >Filter by Target Segment</label
                    >
                    <div class="row">
                      <div class="col-md-6"><p>All Customers</p></div>
                      <div class="col-md-6">
                        <input type="checkbox" ngbDropdownItem />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6"><p>Active Customers</p></div>
                      <div class="col-md-6">
                        <input type="checkbox" ngbDropdownItem />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6"><p>Lapsed Customers</p></div>
                      <div class="col-md-6">
                        <input type="checkbox" ngbDropdownItem />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6"><p>Top Customers</p></div>
                      <div class="col-md-6">
                        <input type="checkbox" ngbDropdownItem />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p>Customers by Age & Region</p>
                      </div>
                      <div class="col-md-6">
                        <input type="checkbox" ngbDropdownItem />
                      </div>
                    </div>
                  </div>
                </li>
                <li class="export-date">
                  <img src="/assets/images/export.svg" />Export Data
                </li>
              </ul>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-primary request"
                (click)="onBegin()"
              >
                Add NEW BRAND
              </button>
            </div>
          </div>
          <div class="filter-table">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Business Name</th>
                  <th scope="col">Status</th>
                  <th scope="col">Payment Status</th>
                </tr>
              </thead>
              <tbody >
                <tr >
                  <td scope="row">
                    <div class="compaign-data">
                      <h6></h6>
                      <span class="d-block">Pizza Hut</span>
                    </div>
                  </td>
                  <td>
                    <div class="compaign-data">
                      <h6></h6>
                      <span class="d-block">Approved</span>
                    </div>
                  </td>
                  <td>
                    <div class="compaign-data">
                      <h6></h6>
                      <span class="d-block">Make Payment</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
