<div class="modal-header">
  <h4 class="modal-title">New Brand</h4>
</div>
<div class="modal-body">
  <div class="content-part">
    <label for="exampleInputEmail1" class="form-label"> Brand Name</label>

    <input
      type=""
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="content-part">
    <label for="exampleInputEmail1" class="form-label"> Brand Image</label>

   
    <input class="form-control form-control-sm" id="formFileSm" type="file">
  </div>
</div>
<div class="modal-footer">
  
  <button type="button" class="btn btn-outline-dark btn-begin">Save</button>
</div>
