.dashboard
    color: #241C15
    h5
        font-weight: 500
        font-size: 36px
        font-family: 'KansaNew Regular'

    .card-block
        .card
            background: #F6F6F4
            border: 1px solid #241C1526
            .card-body
                .card-title
                    font-size: 50px
                .card-subtitle
                    color: #241C15
                    font-weight: bold
    .card-right
        border: 1px solid #241C1526
        padding: 1rem
        border-radius: 3px
        .text-cust
            font-size: 18px
    .insight-graphs
        h4
            font-family: 'KansaNew Regular'
            font-size: 30px
        p
            font-size: 13px
        ul
            li
                list-style: none
                display: inline-block
                font-size: 12px
                margin-right: 1rem
                img
                    width: 15px
                    vertical-align: middle
                .btn.border
                    font-size: 11px
        .card
            margin-bottom: 1rem
            img
                width: 100%
.flat-text
    font-family: "Lato "
    font-size: 14px
    font-weight: 600
    img
        vertical-align: top
        margin-top: 1px
