.dashboard
    color: #241C15
    width: 900px
    margin: 0px auto
    h5
        font-weight: 500
        font-size: 36px
        font-family: 'KansaNew Regular'

    .card-block
        p
            font-family: "Lato Bold"
        .card
            background: #F6F6F4
            border: 1px solid #241C1526
            .card-body
                .card-title
                    font-size: 50px
                .card-subtitle
                    color: #241C15
                    font-family: "Lato bold"
                .card-text.text-success
                    color: #47AC23!important
                .card-text.text-danger
                    color: #F25022!important

    .card-right
        border: 1px solid #241C1526
        padding: 1rem
        border-radius: 3px
        .text-cust
            font-size: 17px
            font-family: 'Lato Bold'
        .smallText
            font-size: 14px

    .insight-graphs
        h4
            font-family: 'KansaNew Regular'
            font-size: 30px
        p
            font-size: 13px
          
        ul
            li
                list-style: none
                display: inline-block
                font-size: 12px
                margin-right: 1rem
                img
                    width: 15px
                    vertical-align: sub
                    margin-right: 5px
                &:nth-child(1)
                    color: #37559A
                    text-transform: uppercase
                    font-weight: "Lato"
                &:nth-child(2)
                    color: #241C15A6
                    

                .btn.border
                    font-size: 11px
        .card
            margin-bottom: 1rem
            img
                width: 100%
.flat-text
    font-family: "Lato"
    font-size: 14px
    font-weight: 600
    img
        vertical-align: top
        margin-top: 1px
.bluText
    color: #37559A
    text-decoration: none
    img
        vertical-align: sub
        width: 20px
.leftBar
    width: 74px