<div class="modal-header">
    <h4 class="modal-title">New Outlet</h4>
</div>
<div class="modal-body">
    <div class="content-part">
        <label for="exampleInputEmail1" class="form-label"> Outlet Name</label>

        <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
    </div>
    <div class="content-part">
        <label for="exampleInputEmail1" class="form-label"> Address</label>


    <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />    </div>
</div>
<div class="modal-footer">

    <button type="button" class="btn btn-outline-dark btn-begin">Save</button>
</div>