<div class="container-fluid campaign-container">
  <div class="row campaign-row">
    <div class="col-md-1 p-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-11">
      <div class="new-comapign container">
        <h5><a href="">Back to Campaigns</a></h5>
        <div class="compaign-name">
          <h6>Flat White</h6>
          <div class="d-flex justify-content-between align-items-center">
            <h4>Kool Café Lapsed Recall</h4>
            <button type="button" class="btn btn-primary request">
              SEND REQUEST
            </button>
          </div>
          <h5><a href="">Back to Campaigns name</a></h5>
        </div>
        <div class="add-compaign">
          <div>
            <div class="d-flex justify-content-between">
              <div>
                <img src="../../assets/images/checkinactive.svg" /> Outlets
              </div>
              <div>
                <button
                  class="btn btn-success"
                  (click)="
                    setaccordianState('outlets');
                    accordianActive == 'outlets'
                      ? setaccordianActive('')
                      : setaccordianActive('outlets')
                  "
                >
                  {{ accordianOutletStart ? "Done" : "Edit Outlets" }}
                </button>
              </div>
            </div>
            <div *ngIf="accordianActive == 'outlets'">hello</div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <div>
                <img src="../../assets/images/checkinactive.svg" /> Segments
              </div>
              <div *ngIf="accordianSegmentStart == false">
                <button
                  class="btn btn-success"
                  (click)="
                    setaccordianState('segments');
                    accordianActive == 'segments'
                      ? setaccordianActive('')
                      : setaccordianActive('segments')
                  "
                >
                  {{ !accordianSegmentStart && "Edit Segments" }}
                </button>
              </div>
              <div *ngIf="accordianActive == 'segments'">hello</div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <div>
                <img src="../../assets/images/checkinactive.svg" /> Rewards
              </div>
              <div *ngIf="accordianRewardsStart == false">
                <button
                  class="btn btn-success"
                  (click)="
                    setaccordianState('rewards');
                    accordianActive == 'rewards'
                      ? setaccordianActive('')
                      : setaccordianActive('rewards')
                  "
                >
                  {{ !accordianRewardsStart && "Edit Rewards" }}
                </button>
              </div>
              <div *ngIf="accordianActive == 'rewards'">hello</div>
            </div>
          </div>

          <div class="d-flex justify-content-between">
            <div>
              <img src="../../assets/images/checkinactive.svg" /> Schedule and
              send
            </div>
            <div *ngIf="accordianScheduleStart == false">
              <button
                class="btn btn-success"
                (click)="
                  setaccordianState('schedule');
                  accordianActive == 'schedule'
                    ? setaccordianActive('')
                    : setaccordianActive('schedule')
                "
              >
                {{ !accordianScheduleStart && "Edit Schedule" }}
              </button>
            </div>
            <div *ngIf="accordianActive == 'schedule'">hello</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
