<div class="container-fluid campaign-container">
  <div class="row campaign-row">
    <div class="col-md-1 p-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-11">
      <div class="compaign container setting">
        <h5 class="mb-2">Settings</h5>
        <div class="setting-tab">
          <nav>
            <div class="nav nav-tabs mb-4" id="nav-tab" role="tablist">
              <button
                class="nav-link active"
                id="nav-home-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-home"
                type="button"
                role="tab"
                aria-controls="nav-home"
                aria-selected="true"
              >
                My Account
              </button>
              <button
                class="nav-link"
                id="nav-profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-profile"
                type="button"
                role="tab"
                aria-controls="nav-profile"
                aria-selected="false"
              >
                My Business
              </button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="nav-home"
              role="tabpanel"
              aria-labelledby="nav-home-tab"
            >
              <div class="row personal-detail">
                <div class="col-sm-3">
                  <h1>Personal Details</h1>
                </div>
                <div class="col-sm-9">
                  <form class="detail">
                    <div class="mb-3">
                      <label for="name" class="form-label">First Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="name"
                        [value]="userDetail.data.firstName"
                        (change)="onChange('firstname', $event)"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="lastname" class="form-label">Last Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="lastname"
                        [value]="userDetail.data.lastName"
                        (change)="onChange('lastname', $event)"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"
                        >Email Address</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="exampleInputEmail1"
                        [value]="userDetail.data.email"
                        aria-describedby="emailHelp"
                        (change)="onChange('email', $event)"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="mobile" class="form-label"
                        >Mobile Number</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="mobile"
                        [value]="userDetail.data.phoneNo"
                        aria-describedby="emailHelp"
                        (change)="onChange('mobileNumber', $event)"
                      />
                    </div>

                    <button
                      type="submit"
                      class="btn btn-primary update"
                      id="updateBtn"
                      (click)="updateProfile()"
                    >
                      Update
                    </button>
                  </form>
                </div>
              </div>
              <div class="row personal-detail">
                <div class="col-sm-3">
                  <h1>Password</h1>
                </div>
                <div class="col-sm-9">
                  <form class="detail">
                    <div class="mb-3">
                      <label for="currentpass" class="form-label"
                        >Verify current password</label
                      >
                      <input
                        type="password"
                        class="form-control"
                        id="currentpass"
                        aria-describedby="emailHelp"
                        (change)="onChange('oldPassword', $event)"
                      />
                    </div>
                    <div class="mb-3">
                      <div
                        class="
                          d-flex
                          justify-content-between
                          align-items-center
                        "
                      >
                        <label for="newpass" class="form-label"
                          >New password</label
                        >
                        <p>Generate strong password</p>
                      </div>

                      <input
                        type="password"
                        class="form-control"
                        id="newpass"
                        aria-describedby="emailHelp"
                        (change)="onChange('newPassword', $event)"
                      />
                    </div>
                    <div class="mb-3">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="d-flex">
                            <div class="circle"></div>
                            <h6>One lowercase character</h6>
                          </div>
                          <div class="d-flex">
                            <div class="circle"></div>
                            <h6>One uppercase character</h6>
                          </div>

                          <div class="d-flex">
                            <div class="circle"></div>
                            <h6>One Number</h6>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="d-flex">
                            <div class="circle"></div>
                            <h6>One special character</h6>
                          </div>
                          <div class="d-flex">
                            <div class="circle"></div>
                            <h6>8 characters minimum</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="confirm" class="form-label"
                        >Confirm new password</label
                      >
                      <input
                        type="password"
                        class="form-control"
                        id="confirm"
                        aria-describedby="emailHelp"
                        (change)="onChange('confirmPass', $event)"
                      />
                    </div>

                    <button
                      type="submit"
                      id="passwordBtn"
                      class="btn btn-primary update"
                      (click)="updateVenderPassword()"
                    >
                      Update
                    </button>
                  </form>
                </div>
              </div>
              <div class="row personal-detail">
                <div class="col-sm-3">
                  <h1>Account Notifications</h1>
                </div>
                <div class="col-sm-9">
                  <div class="details">
                    <div class="emails">
                      I'd like to receive the following emails:
                    </div>
                    <div class="row">
                      <div class="col-sm-8">
                        <div>
                          <p>Confirmation when a campaign is sent</p>
                          <p>Monthly account summary</p>
                          <p>Loyaltoo Updates</p>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="d-flex mb-2">
                          <div class="form-check px-4">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="flexRadioDefault"
                              id="flexRadioDefault1"
                            />
                            <label
                              class="form-check-label"
                              for="flexRadioDefault1"
                            >
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="flexRadioDefault"
                              id="flexRadioDefault1"
                            />
                            <label
                              class="form-check-label"
                              for="flexRadioDefault1"
                            >
                              No
                            </label>
                          </div>
                        </div>
                        <div class="d-flex mb-2">
                          <div class="form-check px-4">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="flexRadioDefault"
                              id="flexRadioDefault1"
                            />
                            <label
                              class="form-check-label"
                              for="flexRadioDefault1"
                            >
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="flexRadioDefault"
                              id="flexRadioDefault1"
                            />
                            <label
                              class="form-check-label"
                              for="flexRadioDefault1"
                            >
                              No
                            </label>
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="form-check px-4">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="flexRadioDefault"
                              id="flexRadioDefault1"
                            />
                            <label
                              class="form-check-label"
                              for="flexRadioDefault1"
                            >
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="flexRadioDefault"
                              id="flexRadioDefault1"
                            />
                            <label
                              class="form-check-label"
                              for="flexRadioDefault1"
                            >
                              No
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary update">
                      Save
                    </button>
                  </div>
                </div>
                <div class="footer-seting">
                  <div><p>Privacy and Terms</p></div>
                  <div><p>©2021 Loyaltoo® All rights reserved.</p></div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-profile"
              role="tabpanel"
              aria-labelledby="nav-profile-tab"
            >
              <div class="row personal-detail">
                <div class="col-sm-3">
                  <h1>Flatwhite <img src="/assets/images/arrowdown.svg" /></h1>
                </div>
                <div class="col-sm-9">
                  <div class="detail information">
                    <h4 class="mb-4">Business Information</h4>
                    <div class="card">
                      <div class="row border-bottom">
                        <div class="col-sm-4">
                          <label> Business name </label>
                        </div>
                        <div class="col-sm-8">
                          <span> Flatwhite Cafe </span>
                        </div>
                      </div>
                      <div class="row border-bottom">
                        <div class="col-sm-4">
                          <label> Status </label>
                        </div>
                        <div class="col-sm-8">
                          <span class="text-success"> Active </span>
                        </div>
                      </div>
                      <div class="row border-bottom">
                        <div class="col-sm-4">
                          <label> Email address </label>
                        </div>
                        <div class="col-sm-8">
                          <span> info@flatwhite.com</span>
                        </div>
                      </div>
                      <div class="row border-bottom">
                        <div class="col-sm-4">
                          <label> Phone Number </label>
                        </div>
                        <div class="col-sm-8">
                          <span> +97 99783434 </span>
                        </div>
                      </div>
                      <div class="row border-bottom">
                        <div class="col-sm-4">
                          <label> Website </label>
                        </div>
                        <div class="col-sm-8">
                          <span> www.flatwhite.com </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <label> Outlets </label>
                        </div>
                        <div class="col-sm-8">
                          <span>
                            Al Saad<br />Al Waakra<br />Doha FEstival City</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="detail information billing mt-4">
                    <h4>Subscription & Billing</h4>
                    <div class="card">
                      <div class="row border-bottom">
                        <div class="col-sm-4">
                          <label> Plan </label>
                        </div>
                        <div class="col-sm-8">
                          <span> Basic + 3 outlets </span>
                        </div>
                      </div>
                      <div class="row border-bottom">
                        <div class="col-sm-4">
                          <label> Total </label>
                        </div>
                        <div class="col-sm-8">
                          <span class="text-danger"> QR 208.00 / month </span>
                        </div>
                      </div>
                      <div class="row border-bottom">
                        <div class="col-sm-4">
                          <label>Subscription status </label>
                        </div>
                        <div class="col-sm-8">
                          <span> Active</span>
                        </div>
                      </div>
                      <div class="row border-bottom">
                        <div class="col-sm-4">
                          <label> Billing period start </label>
                        </div>
                        <div class="col-sm-8">
                          <span> Jan 13, 2021 4:43:55 pm</span>
                        </div>
                      </div>
                      <div class="row border-bottom">
                        <div class="col-sm-4">
                          <label> Billing period end </label>
                        </div>
                        <div class="col-sm-8">
                          <span> Feb 13, 2021 4:43:55 pm </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <label> Active card </label>
                        </div>
                        <div class="col-sm-8">
                          <span>
                            Abdulla Al Khulaifi - XXXX-XXXX-XXXX-2513 QA</span
                          >
                          <div>
                            <button
                              type="submit"
                              class="btn btn-primary update update-card"
                            >
                              Update Card
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="help-text">
                      For additional help with your plan, please
                      <a href="">contact support</a>
                    </div>
                  </div>
                  <div class="billing-info">
                    <h4 class="">Billing Notifications</h4>
                    <p class="smal-text">Get a text when payments fail?</p>
                    <div class="row">
                      <div class="col-sm-7">
                        <div class="issue">
                          <div class="form-check form-switch">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="flexSwitchCheckChecked"
                              checked
                            />
                            <label
                              class="form-check-label"
                              for="flexSwitchCheckChecked"
                              >Yes</label
                            >
                          </div>
                          <div>
                            <p class="mb-0">
                              We’ll text you if there are any billing issues
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-5">
                        <p class="text-para">
                          If you turn this on, we'll only text you to let you
                          know about billing issues. We'll never call you or
                          share your number.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="invoice">
                    <h5>Invoices</h5>
                    <div class="card">
                      <div class="row border-bottom">
                        <div class="col-sm-2">
                          <div class="date-text">Feb 13, 2021</div>
                        </div>
                        <div class="col-sm-5">
                          <div class="">Basic Plan + 3 outlets (Month)</div>
                        </div>
                        <div class="col-sm-2">
                          <div class="">QR 208.00</div>
                        </div>
                        <div class="col-sm-3">
                          <div class="download">Download Invoice</div>
                        </div>
                      </div>
                      <div class="row border-bottom">
                        <div class="col-sm-2">
                          <div class="date-text">Feb 13, 2021</div>
                        </div>
                        <div class="col-sm-5">
                          <div class="">Basic Plan + 3 outlets (Month)</div>
                        </div>
                        <div class="col-sm-2">
                          <div class="">QR 208.00</div>
                        </div>
                        <div class="col-sm-3">
                          <div class="download">Download Invoice</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-2">
                          <div class="date-text">Feb 13, 2021</div>
                        </div>
                        <div class="col-sm-5">
                          <div class="">Basic Plan + 3 outlets (Month)</div>
                        </div>
                        <div class="col-sm-2">
                          <div class="">QR 208.00</div>
                        </div>
                        <div class="col-sm-3">
                          <div class="download">Download Invoice</div>
                        </div>
                      </div>
                    </div>
                    <div class="show-btn">
                      <button type="button" class="btn btn-secondary">
                        Show more
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
